doctype
html
  head
    meta(charset="UTF-8")
    title Jimaku - epcviewer
  body(style="word-break: break-all; white-space: pre-line;")
    div#jimaku
    audio#se(src="/se.mp3")
  script(src="/jimaku_browser.js")
