doctype
html
  head
    meta(charset="UTF-8")
    title epcviewer
    //- photon.css
    link(href="../../node_modules/photonkit/dist/css/photon.css" rel="stylesheet" type="text/css" media="all")
  body#app
    div#container
    script(src="../js/app.js")
