doctype
html
  head
    meta(charset="UTF-8")
    title 設定
    //- photon.css
    link(href="../../node_modules/photonkit/dist/css/photon.css" rel="stylesheet" type="text/css" media="all")
  body#preferences
    div#preferences-container
    script(src="../preferences.js")
