$font-color: #444;
$link-font-color: #0000ff;
$name-color: #009900;
$admin-name-color: #f95a5a;

$tooltip-bg-bolor: #ffffe0;

body{
  color: $font-color;
}

input{
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 22px;
}

a,
.link{
  color: $link-font-color;
  display: inline;
  cursor: pointer;
  text-decoration: underline;
}
a:visited{ color: #000080; }
a:hover,
.link:hover{
  color: #ff0000;
  cursor: pointer;
}
a:active{ color: #ff8000; }

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}

/* -------- 環境設定 -------- */
#preferences-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #efefef;
  color: #333;
  #preferences-tab-box{
    order: 1;
  }
  #preferences-box{
    order: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .preferences-item-column{
      flex-direction: column;
    }
    .preferences-item-row{
      flex-direction: row;
      justify-content: space-between;
    }
    .preferences-item-column,
    .preferences-item-row{
      padding: 3px 15px;
      display: flex;
      .preferences-title{
        font-size: 11px;
        font-weight: bold;
      }
      input[type="text"],
      input[type="number"]{
        width: 130px;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #ccc;
        height: 22px;
        text-align: right;
      }
      input[type="checkbox"]{
        margin: 0;
        margin-right: 3px;
        line-height: 11px;
        vertical-align: bottom;
      }
      .checkbox-label{
        line-height: 11px;
        font-size: 11px;
      }
      .btn-color{
        color: #333;
        width: 130px;
        height: 22px;
        border-radius: 3px;
        text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
                    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                     0px 1px 0 #FFF,  0-1px 0 #FFF,
                    -1px 0 0 #FFF, 1px 0 0 #FFF;
      }
      .form-dialog{
        display: flex;
        flex-direction: row;
        input{
          flex-grow: 1;
          text-align: left;
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        button{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-color: #ccc;
        }
      }
      #preferences-jimaku-se-file-path{
        width: 100vh;
      }
      #preferences-jimaku-se-volume{
      }
    }
    #preferences-startup{
      display: flex;
      flex-direction: column;
      #preferences-startup-boards{
        order: 1;
      }
      #preferences-startup-threads{
        order: 2;
      }
    }
    #preferences-jimaku-fontcolor,
    #preferences-jimaku-fontoutlinecolor{
      .chrome-picker {
        position: fixed;
        top: 20px;
        right: 0px;
        z-index: 1;
      }
    }
    #preferences-jimaku-fontoutlinecolor{
      margin-right: 19px;
    }
  }
  #preferences-btns{
    order: 3;
    position: fixed;
    bottom: 15px;
    right: 15px;
    button{
      margin: 0px 3px;
    }
  }
}

/* -------- ヘッダー -------- */
header{
  order: 1;
  width: 100%;
  padding: 3px;
  min-height: 28px !important;
  .flex-container{
    .btn-group .btn.active,
    .btn-group .btn:active,
    .btn-group .btn:focus {
      // afterのcontextの文字を前面に出すため
      z-index: 10;
    }
    .flex-header-update-btns{
      order: 1;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
      #btn-update{
        border-radius: 5px 0px 0px 5px;
      }
      #btn-update:hover::before{
        content: '更新';
        z-index: 100;
      }
      #btn-update-dropdown{
        padding-left: 2px;
        padding-right: 3px;
      }
      #btn-update-dropdown:after{
        margin-left: 0px;
      }
    }
    .flex-header-list-btns{
      order: 2;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
      #btn-boards:hover::before{
        content: '板一覧';
        z-index: 100;
      }
      #btn-threads:hover::before{
        content: 'スレッド一覧';
        z-index: 100;
      }
    }
    .flex-header-thread-btns{
      order: 3;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
      #btn-auto-update:hover::before{
        content: '自動更新';
        z-index: 100;
      }
      #btn-auto-scroll:hover::before{
        content: 'オートスクロール';
        z-index: 100;
      }
      #btn-jimaku-server{
        border-radius: 5px;
      }
      #btn-jimaku-server:hover::before{
        content: '字幕サーバー';
        z-index: 100;
      }
    }
    .flex-header-preferences-btns{
      order: 4;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 3px;
      #btn-preferences{
        border-radius: 5px;
      }
      #btn-preferences:hover::before{
        content: '環境設定';
        z-index: 100;
      }
    }
    .flex-header-url{
      order: 5;
      flex-grow: 300;
      input{
        width: 100%;
      }
    }
  }
}

/* ---------- 板一覧 ---------- */
#board-box{
  order: 2;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  #board-tab-box{
    order: 1;
    width: 100%;
  }
  #subject-box{
    order: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
  }
}
/* スレッド名一覧 */
#subject-box{
  .subject{
    padding: 1px 10px;
  }
  .subject:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #3f9aff;
  }
  .subject:nth-child(even){
    background: #f4f0ff;
  }
}

/* ------- スレッド一覧 ------- */
/* ツールチップ */
.tooltip{
  position: absolute;
  bottom: -15px;
  left: 0px;
  min-width: 100%;
  height: auto;
  z-index: 1000;
  font-size: 11px;
  background-color: $tooltip-bg-bolor;
  color: $font-color;
  border-radius: 3px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.8));
  .post{
    padding: 5px;
    .post-header{
      white-space: nowrap;
    }
    .post-body{
      padding-left: 10px;
    }
  }
}
#thread-box{
  order: 2;
  background: #efefef;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* スレッドタブ */
  #thread-tab-box{
    order: 1;
    width: 100%;
  }
  /* 書き込み一覧 */
  #post-box{
    order: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    .post{
      padding: 5px 10px;
      .post-header{
        display: block;
        word-break: break-all;
        .post-no,
        .post-name,
        .post-name-admin,
        .post-mail,
        .post-date,
        .post-id,
        div[class*="post-id"]{
          display: inline;
          user-select: text;
        }
        .post-no{
          text-align: left;
        }
        .post-name{
          color: $name-color;
          font-weight: bold;
          margin-left: 3px;
          margin-right: 3px;
        }
        .post-name-admin{
          color: $admin-name-color;
        }
        .post-mail{
          margin-right: 5px;
        }
        .post-date{
          margin-right: 5px;
        }
        .post-id{
          .post-id-extract{
            @extend .link;
            position: relative;
            .post-tooltip{
              @extend .tooltip;
              bottom: 0px;
              left: 0px;
            }
          }
          .post-id-extract.post-id-extract-hisshi{
            color: #fd3f3f;
          }
          .post-id-extract::before{
            content: "ID";
          }
          .post-id-uid::before{
            content: ":";
          }
          .post-id-counter{
            .post-id-counter-count::before{
              content: "(";
            }
            .post-id-counter-count{
              margin-left: 3px;
            }
            .post-id-counter-total::before{
              content: "/";
            }
            .post-id-counter-total::after{
              content: ")";
            }
          }
        }
      }
      .post-body{
        padding-left: 30px;
        word-break: break-all;
        white-space: pre-line;
        user-select: text;
        .post-body-line{
          display: block;
          line-height: 18px;
          min-height: 18px;
          a{ user-select: text; }
        }
        .post-body-link{
          @extend .link;
          user-select: text;
        }
        .post-body-anchor{
          @extend .link;
          text-decoration: none;
          position: relative;
          .post-tooltip{
            @extend .tooltip;
            bottom: 0px;
            left: 0px;
          }
          .post-body-anchor-no{
            display: inline;
            user-select: text;
          }
        }
      }
    }
    #post-box-end{
      padding-bottom: 10px;
    }
  }
}

/* -------- 書き込み欄 -------- */
#write-form{
  order: 3;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: -1px;
  textarea{
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
    resize: vertical;
    word-break: break-all;
    white-space: pre-line;
  }
  textarea::-webkit-scrollbar{
    display: none;
  }
  textarea:focus{
    border-color: #ddd;
    box-shadow: none;
  }
  textarea:disabled{
    background-color: #eee;
    color: #777;
    cursor: not-allowed;
  }
}

/* -------- フッター -------- */
footer{
  order: 4;
  width: 100%;
  font-size: 11px;
  line-height: 20px;
  max-height: 22px;
  z-index: 2;
  .flex-container{
    flex-wrap: nowrap;
    justify-content: space-between;
    /* 更新状態 */
    #footer-update-status{
      order: 1;
      padding-left: 5px;
      padding-right: 5px;
      min-width: 70px;
      text-align: left;
      min-width: 50px;
    }
    #footer-log{
      order: 2;
      flex-grow: 1;
      text-align: left;
      font-weight: bold;
      color: #ff5757;
    }
    /* スレッド名 */
    #footer-thread-title{
      order: 3;
      padding-right: 5px;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/* photonKit override */
.btn-group{
  display: -webkit-inline-box !important;
  button.btn:hover::before,
  button.btn.active::before{
    position: absolute;
    bottom: -25px;
    right: -20px;
    font-size: 9px;
    padding: 1px 3px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    border: 1px solid #666;
    color: #000;
  }
  button.btn + button.btn.active:first-child{
    border-left: none;
  }
  button.btn + button.btn.active{
    border-left: 1px solid #c2c0c2;
  }
}

.tab-group{
  background-color: #ccc;
  border-bottom: 1px solid #999;
  min-height: 20px;
}

.tab-item{
  background: #abaaaa;
  font-size: 10px !important;
  padding: 1px 3px !important;
  .icon-close-tab{
    left: 3px;
  }
  .tab-item-name{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-right: 5px;
    // マウスイベントを検知する為の記述
    display: block;
    width: 100%;
    position: absolute;
    z-index: 9;
  }
}

.tab-item-active{
  background: #ccc;
}

.tab-item:hover{
  .icon-close-tab{
    background: #bcbcbc;
  }
  .icon-close-tab:hover{
    background: #d65858;
    color: #fff;
  }
}

.toolbar-header{
  border-bottom: none;
}

/* dark theme */
$darktheme-base-color: #444444;
$darktheme-tooltip-bg-color: rgba(0, 0, 0, 0.7);
$darktheme-btn-default-color: darken($darktheme-base-color, 3%);
$darktheme-font-color: #ffffff;
$darktheme-post-name-font-color: #6eca1b;
$darktheme-link-font-color: #00ccff;
$darktheme-btn-primary-color: #3c83ec;

#container.dark,
#preferences.dark{
  background-color: $darktheme-base-color;
  #preferences-box>.preferences-item-column,
  #preferences-box>.preferences-item-row{
    color: $darktheme-font-color;
    input[type="text"], input[type="number"], select, option{
      color: $font-color;
      border-color: #4c4c4c;
    }
    .btn-color{
      border-color: #4c4c4c;
    }
    .form-dialog{
      display: flex;
      flex-direction: row;
      input{
        flex-grow: 1;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      button{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-color: #4c4c4c;
      }
    }
  }
  input[type="text"]{
    background-color: #222;
    border-color: #4c4c4c;
    color: #ffffff;
  }
  textarea{
    background-color: #313131;
    border-color: #464646;
    border-left: none;
    border-right: none;
    color: #ffffff;
  }
  textarea:focus{
    border: 1px solid #616161;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
  textarea:disabled{
    background-color: #424242;
    border: 1px solid #656565;
    color: #bbbbbb;
  }
  .toolbar{
    background-color: $darktheme-base-color;
    background-image: linear-gradient(to bottom, $darktheme-base-color 0%, $darktheme-base-color*0.82 100%);
    box-shadow: none;
    color: #ffffff;
  }
  .toolbar-footer{
    border-top-color: lighten($darktheme-btn-default-color, 20%);
  }
  .toolbar-header{
    border-bottom-color: lighten($darktheme-btn-default-color, 20%);
  }

  .btn-default{
    background-color: $darktheme-btn-default-color;
    background-image: linear-gradient(to bottom, darken($darktheme-btn-default-color, 5%) 0%, darken($darktheme-btn-default-color, 10%) 100%);
    border-color: lighten($darktheme-btn-default-color, 10%);
    color: #fdfdfd;
    .icon{
      color: #fdfdfd;
    }
  }
  .btn-default:hover,
  .btn-default:active{
    background-color: darken($darktheme-btn-default-color, 10%);
    background-image: linear-gradient(to top, darken($darktheme-btn-default-color, 15%) 0%, darken($darktheme-btn-default-color, 20%) 100%);
    border-color: lighten($darktheme-btn-default-color, 10%);
  }
  .btn-default.active{
    background-color: #fcfcfc;
    background-image: linear-gradient(to top, #fcfcfc 0%, #dadada 100%);
    border-color: lighten($darktheme-btn-default-color, 10%);
    .icon{
      color: $darktheme-base-color;
    }
  }
  .btn-default.active:hover,
  .btn-default.active:active{
    background-color: #dadada;
    background-image: linear-gradient(to top, #dadada 0%, #bdbdbd 100%);
  }
  .btn-primary{
    background-color: $darktheme-btn-primary-color;
    border-color: lighten($darktheme-btn-primary-color, 10%);
    border-bottom-color: lighten($darktheme-btn-primary-color, 3%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-primary-color, 5%) 0%, darken($darktheme-btn-primary-color, 10%) 100%);
  }
  .btn-primary:hover{
    background-color: darken($darktheme-btn-primary-color, 10%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-primary-color, 15%) 0%, darken($darktheme-btn-primary-color, 20%) 100%);
  }
  .btn-primary:active{
    background-color: darken($darktheme-btn-primary-color, 25%);
  }
  .btn-group{
    button.btn:first-child{
    }
    button.btn:last-child{
    }
  }

  .tab-group{
    $base: darken($darktheme-base-color, 5%);
    background-color: $base;
    border-bottom-color: lighten($base, 10%);
    .tab-item{
      background-color: $base;
      background-image: linear-gradient(to bottom, $base 0%, darken($base, 7%) 100%);
      color: #ffffff;
      border-left: 1px solid lighten($base, 10%);
    }
    .tab-item.tab-item-active{
      background-color: $darktheme-base-color;
      background-image: linear-gradient(to bottom, $darktheme-base-color*0.82 0%, $darktheme-base-color*0.82 100%);
    }
    .tab-item:hover,
    .tab-item-active:hover{
      background-color: darken($darktheme-base-color, 8%);
      background-image: linear-gradient(to bottom, darken($darktheme-base-color, 10%) 0%, darken($darktheme-base-color, 10%) 100%);
    }
    .tab-item:first-child{
      border-left: none;
    }
    .tab-item:hover{
      .icon-close-tab{
        background-color: darken($darktheme-base-color, 10%);
        color: #fff;
      }
      .icon-close-tab:hover{
        background: #d65858;
        color: #fff;
      }
    }
  }

  #board-box>#subject-box::-webkit-scrollbar,
  #thread-box>#post-box::-webkit-scrollbar,
  #write-form>textarea::-webkit-scrollbar{
    background: darken($darktheme-base-color, 7%);
    border-left: 1px solid lighten($darktheme-base-color, 3%);
  }
  #board-box>#subject-box::-webkit-scrollbar-thumb,
  #thread-box>#post-box::-webkit-scrollbar-thumb,
  #write-form>textarea::-webkit-scrollbar-thumb{
    background: darken($darktheme-base-color, 14%);
    border-left: 1px solid lighten($darktheme-base-color, 3%);
  }
  #write-form>textarea::-webkit-scrollbar-corner{
    background: darken($darktheme-base-color, 7%);
  }
  #write-form>textarea::-webkit-scrollbar-button{
    background: darken($darktheme-base-color, 7%);
    border: 1px solid lighten($darktheme-base-color, 3%);
  }
  #board-box{
    background: darken($darktheme-base-color, 12%);
    .subject{
      color: $darktheme-font-color;
    }
    .subject:nth-child(even) {
      background: darken($darktheme-base-color, 8%);
    }
  }

  #thread-box{
    background-color: darken($darktheme-base-color, 12%);;
    color: $darktheme-font-color;
    #post-box{
      a,
      .post-body-anchor-no,
      .post-body-link,
      .post-id-extract{
        color: $darktheme-link-font-color;
      }
      .post-id-extract.post-id-extract-hisshi{
        color: #ff5d5d;
      }
      .post-header{
        color: $darktheme-font-color;
        .post-name{
          color: $darktheme-post-name-font-color;
          font-weight: normal;
        }
        .post-name-admin{
          color: #ff5252;
          font-weight: bold;
        }
      }
    }
    .tooltip{
      color: $font-color;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.85));
      .post{
        .post-header{
          color: $font-color;
          .post-name{
            color: $name-color;
            font-weight: bold;
          }
          .post-id-extract{
            @extend .link;
          }
        }
        .post-body{
          color: $font-color;
          .post-body-link{
            color: $link-font-color;
          }
          .post-body-anchor-no{
            color: $link-font-color;
          }
        }
      }
    }
  }
}