$font-color: #555;
$name-color: #42a724;
$admin-name-color: #ef6565;

$tooltip-bg-bolor: #ffffe0;

body{
  color: $font-color;
}

input{
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 22px;
}

a,
.link{
  color: #0000ff;
  display: inline;
  cursor: pointer;
}
a:visited{ color: #000080; }
a:hover,
.link:hover{
  color: #ff0000;
  cursor: pointer;
}
a:active{ color: #ff8000; }

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}

/* -------- 環境設定 -------- */
#preferences-flex-container{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 15px;
  background: #efefef;
  color: #333;
  height: 100vh;
  .preferences-title{
    font-size: 11px;
    font-weight: bold;
  }
  #preferences-save-boards{
    order: 1;
  }
  #preferences-save-threads{
    order: 2;
  }
  .preferences-item{
    padding-left: 2px;
    input[type="checkbox"]{
      margin: 0;
      margin-right: 3px;
      line-height: 11px;
      vertical-align: bottom;
    }
    .checkbox-label{
      line-height: 11px;
      font-size: 11px;
    }
  }
  #preferences-btns{
    position: absolute;
    bottom: 15px;
    right: 15px;
    button{
      margin: 0px 3px;
    }
  }
}

/* -------- ヘッダー -------- */
header{
  order: 1;
  width: 100%;
  padding: 3px;
  min-height: 28px !important;
  .flex-container{
    .flex-header-update-btns{
      order: 1;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
    }
    .flex-header-list-btns{
      order: 2;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
    }
    .flex-header-thread-btns{
      order: 3;
      flex-grow: 1;
      display: -webkit-inline-box;
      margin-right: 3px;
    }
    .flex-header-url{
      order: 4;
      flex-grow: 300;
      input{
        width: 100%;
      }
    }
  }
}

/* ---------- 板一覧 ---------- */
#board-box{
  order: 2;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  #board-tab-box{
    order: 1;
    width: 100%;
  }
  #subject-box{
    order: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }
}
/* スレッド名一覧 */
#subject-box{
  .subject{
    padding: 1px 10px;
  }
  .subject:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #3f9aff;
  }
  .subject:nth-child(even){
    background: #f4f0ff;
  }
}

/* ------- スレッド一覧 ------- */
#thread-box{
  order: 2;
  background: #efefef;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* スレッドタブ */
  #thread-tab-box{
    order: 1;
    width: 100%;
  }
  /* 書き込み一覧 */
  #post-box{
    order: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    .post{
      padding: 5px 10px;
      .post-anker{
        position: fixed;
        padding: 2px;
        display: none;
        background: #ffffcc;
        font-size: 9px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
        z-index: 1000;
        user-select: text;
      }
      .post-header{
        display: block;
        word-break: break-all;
        user-select: text;
        .post-no,.post-name,.post-mail,.post-date,.post-id{
          user-select: text;
        }
        .post-no{
          display: inline;
          text-align: left;
        }
        .post-name{
          display: inline;
          color: $name-color;
          font-weight: bold;
          margin-left: 3px;
          margin-right: 3px;
        }
        .post-name-admin{
          color: $admin-name-color;
        }
        .post-mail{
          display: inline;
          margin-right: 5px;
        }
        .post-date{
          display: inline;
          margin-right: 5px;
        }
        .post-id{
          display: inline;
        }
      }
      .post-body{
        padding-left: 30px;
        word-break: break-all;
        white-space: pre-line;
        user-select: text;
        .post-body-line{
          display: block;
          line-height: 18px;
          min-height: 18px;
          a{ user-select: text; }
        }
        .post-body-link{
          @extend .link;
        }
        .post-body-anchor{
          @extend .link;
          position: relative;
          .post-body-anchor-tooltip{
            position: absolute;
            bottom: 10px;
            left: 0px;
            min-width: 100%;
            height: auto;
            z-index: 1000;
            font-size: 11px;
            background-color: $tooltip-bg-bolor;
            color: $font-color;
            filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.8));
            .post{
              padding: 0px;
              .post-header{
                white-space: nowrap;
                .post-no{
                  margin-left: 5px;
                }
              }
              .post-body{
                padding-left: 10px;
              }
            }
          }
          .post-body-anchor-no{
            display: inline;
          }
        }
      }
    }
    #post-box-end{
      padding-bottom: 10px;
    }
  }
}

/* -------- 書き込み欄 -------- */
#write-form{
  order: 3;
  width: 100%;
  margin: 0px;
  margin-bottom: -1px;
  textarea{
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
  }
  textarea:focus{
    border-color: #ddd !important;
    box-shadow: none !important;
  }
  textarea:disabled{
    background-color: #eee;
    color: #777;
    cursor: not-allowed;
  }
}

/* -------- フッター -------- */
footer{
  order: 4;
  width: 100%;
  font-size: 11px;
  line-height: 20px;
  max-height: 22px;
  z-index: 2;
  .flex-container{
    flex-wrap: nowrap;
    justify-content: space-between;
    /* 更新状態 */
    #footer-update-status{
      order: 1;
      padding-left: 5px;
      padding-right: 5px;
      min-width: 70px;
      text-align: left;
      min-width: 50px;
    }
    #footer-log{
      order: 2;
      flex-grow: 1;
      text-align: left;
      font-weight: bold;
      color: #ff5757;
    }
    /* スレッド名 */
    #footer-thread-title{
      order: 3;
      padding-right: 5px;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/* photonKit override */
.btn-group{
  display: -webkit-inline-box !important;
  button.btn:hover{
    z-index: 10 !important;
  }
  button.btn:hover::after,
  button.btn.active::after{
    position: absolute;
    bottom: -25px;
    right: -20px;
    font-size: 9px;
    padding: 1px 3px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    border: 1px solid #666;
    color: #000;
  }
  #btn-update:hover::after{
    content: '更新';
  }
  #btn-boards:hover::after{
    content: '板一覧';
  }
  #btn-threads:hover::after{
    content: 'スレッド一覧';
  }
  #btn-auto-update:hover::after{
    content: '自動更新';
  }
  #btn-auto-scroll:hover::after{
    content: 'オートスクロール';
  }
  button.btn.active:first-child{
    border-right: 1px solid #c2c0c2 !important;
  }
  button.btn.active:last-child{
    border-left: 1px solid #c2c0c2 !important;
  }
}

.tab-group{
  background: #ccc;
  border-bottom: 1px solid #999;
  min-height: 20px;
}

.tab-item{
  background: #abaaaa;
  font-size: 10px !important;
  padding: 1px 3px !important;
  .icon-close-tab{
    left: 3px;
  }
  .tab-item-name{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-right: 5px;
    // マウスイベントを検知する為の記述
    display: block;
    width: 100%;
    position: absolute;
    z-index: 9;
  }
}

.tab-item-active{
  background: #ccc !important;
}

.tab-item:hover{
  .icon-close-tab{
    background: #bcbcbc;
  }
  .icon-close-tab:hover{
    background: #d65858;
    color: #fff;
  }
}

.toolbar-header{
  border-bottom: none;
}